<!doctype html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logProcessing</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
    <header style="display: flex; flex-direction: column">
        <h1>An error occured !</h1>
        <button><a href="/">Return</a></button>
    </header>
    <section>
        <p>{{ error }}</p>
    </section>
</body>
<html />
